*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

html, body,#root{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.create-post-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.create-post-section h1{
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.create-post-section form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}
.create-post-section form input, .create-post-section form textarea{
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.create-post-section form button{
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.create-post-section form button:hover{ 
  background-color: #0056b3;
}


.feed-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
}
.feed-section h1{
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.feed-section .post{
  text-align: center;
  
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}
 

